


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inclusive+Sans&family=Roboto&family=Source+Sans+3&family=Special+Elite&family=Work+Sans&display=swap');


:root {
  --bs-body-font-family: "Inclusive Sans",sans-serif;
}



.form-group {margin-bottom: 8px;}


.container {padding: 3px;}

.nav-item {font-size: larger;
          font-weight: bold;
          padding-left:25px;
           padding-right: 25px;
          }

nav {margin: 5px;}


.btn {margin-bottom: 25px;
     padding: 10px;
      align-items: center;
     }


.formhead {margin-top: 25px;
          border-top: solid 1px black;
          padding-top:5px;
          padding-bottom: 5px;}




#plain {text-decoration: none;
       text-align: center;}


h1 {background-image: url(banner.jpg);
    color: #F5EBE1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 3em;
   font-family: "Archivo Black", sans-serif;}
 

img {padding-bottom: 25px;}



.accordion-button {
                 font-weight: bolder;
               
                  padding: 25px;
                  background-color: #F5EBE1;}

#aboutpage {padding-top: 30px;}

#email > a {text-decoration: none;
                       color: #198754;}

main {background-color: #F5EBE1;
     margin-bottom: 12px;}

h2 {text-decoration: underline;
   padding-bottom: 10px;}

main > ul {font-size: 1.5em;}

#grow { 
transition: all .2s ease-in-out; 
}
@media (min-width: 768px){
#grow:hover { 
transform: scale(1.3); 
}
}























































/* Students: Please use this week's project for Week 8: Midterm Project: Interactive Catalog. 
     You will need to replace the contents of this HTML file with your own work, 
     and create any other files, if any, required for the assignment.
     When you are done, be certain to submit the assignment in both Repl.it and Canvas to be graded. */
